In [8]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("../data/credit_transactions.csv")

df.head()

,user_id,year,month,day,time,amount,card_method,merchant,merchant_city,merchant_state,...,user_apartment,user_city,user_state,user_zip,user_lat,user_long,user_income,user_debt,user_rating,user_number_of_cards
0,0,2015,11,15,12:55,$287.13,Online Transaction,-8194607650924472520,ONLINE,NaN,...,NaN,La Verne,CA,91750,34.15,-117.76,$59696,$127613,787,5
1,0,2015,11,15,13:19,$2.41,Online Transaction,-7759074308363763111,ONLINE,NaN,...,NaN,La Verne,CA,91750,34.15,-117.76,$59696,$127613,787,5
2,0,2015,11,16,09:41,$50.81,Online Transaction,-551332107213382088,ONLINE,NaN,...,NaN,La Verne,CA,91750,34.15,-117.76,$59696,$127613,787,5
3,0,2015,11,16,09:46,$248.36,Online Transaction,4872340518840476610,ONLINE,NaN,...,NaN,La Verne,CA,91750,34.15,-117.76,$59696,$127613,787,5
4,0,2015,11,16,11:20,$473.00,Online Transaction,-8566951830324093739,ONLINE,NaN,...,NaN,La Verne,CA,91750,34.15,-117.76,$59696,$127613,787,5

# Condensing Transaction Datetime

In [12]:
from datetime import datetime

def condense_time(row):
    x = datetime(
        int(row.year), 
        int(row.month), 
        int(row.day), 
        int(row.time.split(':')[0]), 
        int(row.time.split(':')[1])
    )
    return x

df['purchase_date'] = df.apply(condense_time, axis=1)

df.drop(columns=['year','month','day','time'], inplace=True)

0       2015-11-15 12:55:00
1       2015-11-15 13:19:00
2       2015-11-16 09:41:00
3       2015-11-16 09:46:00
4       2015-11-16 11:20:00
                ...
99752   2009-10-20 08:57:00
99753   2015-11-30 02:45:00
99754   2012-01-24 17:10:00
99755   2015-03-11 06:14:00
99756   2019-01-16 09:18:00
Name: purchase_date, Length: 99757, dtype: datetime64[ns]

# Fixing Dollar Amounts

In [13]:
df['amount'] = df['amount'].str.replace("$", "").astype(float)

0        287.13
1          2.41
2         50.81
3        248.36
4        473.00
          ...
99752      3.26
99753     30.02
99754     31.59
99755    100.00
99756    100.00
Name: amount, Length: 99757, dtype: float64

# Adding External MCC Category Names

In [14]:
mcc_df = pd.read_csv('../data/mcc_grouped.csv')

def get_mcc_name(code):
    matching_code = mcc_df.loc[(mcc_df['start'] <= code) & (code <= mcc_df['end'])]
    if not matching_code.empty:
        return matching_code['Business type'].iloc[0]
    else:
        return 'Unknown'
    
# Apply the custom function to create a new column in df
df['mcc_group'] = df['mcc'].apply(get_mcc_name)

df.drop(
    columns=['mcc'], 
    inplace=True
)

KeyError: 'mcc'

In [ ]:
df.dtypes