In [2]:
import pandas as pd

In [3]:

# URL of the webpage containing mcc
DATA_URL = 'https://www.bankrate.com/finance/credit-cards/finding-merchant-category-code/#what'

In [4]:
# Parse all the HTML tables and return a list of DataFrames 
# First row contains column headers. Thus header=0
html_tables = pd.read_html(DATA_URL, header=0)

In [5]:
# Check data type and size for the returned value
print(f'TYPE: {type(html_tables)}, SIZE: {len(html_tables)}')

TYPE: <class 'list'>, SIZE: 1

In [6]:
# Only table from the web page  
mcc = html_tables[0]
# Print data type 
print(type(mcc))
# Print the content of the DataFrame
mcc

<class 'pandas.core.frame.DataFrame'>

  Merchant code range                                      Business type
0           0001–1499                              Agricultural services
1           1500–2999                                Contracted services
2           4000–4799                            Transportation services
3           4800–4999                                   Utility services
4           5000–5599                             Retail outlet services
5           5600–5699                                    Clothing stores
6           5700–7299                               Miscellaneous stores
7           7300–7999                                  Business services
8           8000–8999  Professional services and membership organizat...
9           9000–9999                                Government services

In [7]:
#describe table
mcc.describe()

       Merchant code range          Business type
count                   10                     10
unique                  10                     10
top              0001–1499  Agricultural services
freq                     1                      1

In [8]:
# split the Merchant code range column into two columns using pd.Series.str.split()
mcc[['start', 'end']] = mcc['Merchant code range'].str.split('–', expand=True)

In [9]:
# Dropping column we won't use 
mcc.drop(
    columns=[
        'Merchant code range'],
    inplace=True,
    errors='ingore'
)

In [10]:
mcc

                                       Business type start   end
0                              Agricultural services  0001  1499
1                                Contracted services  1500  2999
2                            Transportation services  4000  4799
3                                   Utility services  4800  4999
4                             Retail outlet services  5000  5599
5                                    Clothing stores  5600  5699
6                               Miscellaneous stores  5700  7299
7                                  Business services  7300  7999
8  Professional services and membership organizat...  8000  8999
9                                Government services  9000  9999

In [11]:
# convert data to integer fo convinient use
mcc['start']=pd.to_numeric(mcc['start'])
mcc['end']=pd.to_numeric(mcc['end'])

In [12]:
# check if everyting right and save
mcc.dtypes
mcc.to_csv('../data/mcc_grouped.csv', index=False)